body {
    display: flex;
}

#sideNav {
    position: fixed;
    background-color: #12372A;
    z-index: 1000;
}

.container-fluid {
    padding-right: 20px;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 999;
    padding-top: 10px;
}

@media (max-width: 992px) {
    .sticky-header {
        top: 0px;
        padding-top: 50px;
    }
}
.rounded-circle {
    background-color: #FBFADA;
}

.nav-link {
    color: #436850;
}

.nav-link:hover {
    color: #ADBC9F;
    /* Change this color to whatever you prefer */
    transform: scale(1.2);
}

.nav-item .nav-link.active {
    color: #FBFADA;
    /* Change this color to whatever you prefer */
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .nav-link:hover {
        color: #ADBC9F;
        transform: scale(1);
    }

    .nav-item .nav-link.active {
        color: #FBFADA;
        transform: scale(1);
    }
}

h1 {
    color: #436850;
}

@media (max-width: 768px) {
    h1 {
        font-size:70px;
    }
}

h2 {
    color: #12372A;
}

h3 {
    color: #436850;
}

h4 {
    color: #ADBC9F;
}

.strong-text {
    color: #12372A;
}

.subheading {
    color: #436850;
}

.email {
    color: #12372A;
}

.dates {
    color: #436850;
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-icon:hover {
    transform: scale(1.2);
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}

.certification-item {
    flex: 1 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification-item img {
    width: 150px;
    height: 270px;
    object-fit: cover;
}

.img-profile {
    color: #FBFADA;
}

